env:
  node: true
  mocha: true
  browser: true
extends: eslint:recommended
ecmaFeatures:
  arrowFunctions: true
  blockBindings: true
  templateStrings: true
  octalLiterals: true
  binaryLiterals: true
  generators: true
  forOf: true
  objectLiteralShorthandProperties: true
  objectLiteralShorthandMethods: true
  classes: true
rules:
  strict: [2, "global"]
